* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: 512px;
  height: 512px;
}

.board-cell {
  fill: blue;
}

.cell-covered {
  box-shadow: inset 1px 1px #fff, inset -1px -1px #0a0a0a, inset 2px 2px #dfdfdf, inset -2px -2px #808080;
}
